.background-image {
    padding: 10px 0;
    background-image: url('@/assets/images/albums-images/kazhdomu-svoyo/kazhdomu-svoyo-blur.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-block {
    max-width: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
}