.links {
    width: 100%;
    padding: 10px;
    font-family: 'Oswald';
}

.links__item {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0;
    transform: translate(-50%, 0);
}

.links__item:nth-child(1) {
  animation: links-item .7s ease-out .1s forwards;
}
.links__item:nth-child(2) {
  animation: links-item .7s ease-out .2s forwards;
}
.links__item:nth-child(3) {
  animation: links-item .7s ease-out .3s forwards;
}
.links__item:nth-child(4) {
  animation: links-item .7s ease-out .4s forwards;
}
.links__item:nth-child(5) {
  animation: links-item .7s ease-out .5s forwards;
}
.links__item:nth-child(6) {
  animation: links-item .7s ease-out .6s forwards;
}
.links__item:nth-child(7) {
  animation: links-item .7s ease-out .7s forwards;
}
.links__item:nth-child(8) {
  animation: links-item .7s ease-out .8s forwards;
}
.links__item:nth-child(9) {
  animation: links-item .7s ease-out .9s forwards;
}

.links__item::before {
  content: '';
  width: 90%;
  margin: 5px auto 0 auto;
  height: 1px;
  background-color:#dadada;
  margin-bottom: 5px;
  opacity: 0;

  animation: opacity 2s forwards;
}

.links__item::after {
    content: '';
    margin: 5px auto 0 auto;
    width: 70%;
    height: 1px;
    background-color: #dadada;
    opacity: 0;

    animation: opacity 2s forwards;
}

.links__item:not(:first-child) {
    margin-top: 25px;
}

.links__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links__name img {
    width: 32px;
    height: 32px;
    border-radius: 5px;
}

.links__name div {
    margin-left: 10px;
}

.link__button {
    background-color: #d4184a;
    padding: 10px;
    color: white;
    border-radius: 5px;
    transition: 200ms ease-in;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
    
.link__button:hover {
  transform: translate(0, -5%);
}
  
.link__button::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
      to bottom,
      rgba(229, 172, 142, 0), 
      rgba(255,255,255,0.5) 50%,
      rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.link__button:hover::after {
  animation: link-button 1s forwards infinite;
}

.link__button::after {
  animation: link-button 1s 2s;
}

@keyframes link-button {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

@keyframes links-item {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}


@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}