.logotype {
    display: flex;
    height: 100vh;
}

.logotype__vlaus {
    width: 49.75%;
    display: inline-flex;
    background-color: #fff;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 30px;
    position: relative;   
}

.tree {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.logotype__vlaus-text {
    font-family: 'Monoton';
    font-size: 60px;
    opacity: 0;
    transform: translate(-50%, 0);
    animation: moveVlaus 1s ease forwards;
}

.link {
    width: 0.5%;
    display: inline-flex;
    height: 100%;
    cursor: pointer;
    background: gold;
    z-index: 2;
    box-shadow: 0 -150px 70px -120px teal inset,
                0 -220px 70px -120px yellowgreen inset,
                0 -280px 70px -120px gold inset;
    animation: colorChange 4s infinite alternate;

    position: relative;
}

.logotype__music {
    width: 49.75%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    background-color: #000;
    height: 100%;
    padding-left: 30px;
}

.logotype__music-text {
    font-family: 'Monoton';
    font-size: 60px;
    opacity: 0;
    transform: translate(50%, 0);
    animation: moveMusic 1s ease forwards;
}

.play {
    display: block;
    position: absolute;
    top: 49.5%;
    left: -25px;
    width: 55px;
    transform: translate3d(0, -49.5%, 0);

    animation: scale 2s ease infinite 5s;
}

@keyframes scale {
    0% {
        transform: translate3d(0, -49.5%, 0) scale(1);
    }
    50% {
        transform: translate3d(0, -49.5%, 0) scale(1.2);
    }
    100% {
        transform: translate3d(0, -49.5%, 0) scale(1);
    }
}

@keyframes moveMusic {
    from {
        opacity: 0;
        transform: translate(50%, 0);
    } 
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes moveVlaus {
    from {
        opacity: 0;
        transform: translate(-50%, 0);
    } 
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes colorChange {
    50% {
      background: darkviolet;
      box-shadow: 0 -140px 70px -120px mediumorchid inset,
                  0 -210px 70px -120px teal inset,
                  0 -280px 70px -120px plum inset;
    }
}

@media (max-width: 1000px) {
    .tree {
        width: 90%;
    } 
}

@media (max-width: 560px) {
    .logotype__vlaus-text {
        font-size: 50px;
    }
    
    .logotype__music-text {
        font-size: 50px;
    }

    .tree {
        top: 15%;
    } 
}

@media (max-width: 480px) {
    .logotype__vlaus-text {
        font-size: 40px;
    }
    
    .logotype__music-text {
        font-size: 40px;
    }
}

@media (max-width: 390px) {
    .logotype__vlaus-text {
        font-size: 35px;
    }
    
    .logotype__music-text {
        font-size: 35px;
    }
    
    .logotype__vlaus {
        padding-right: 20px;
    }

    .logotype__music {
        padding-left: 20px;
    }

    .play {
        width: 35px;
        left: -15px;
    }
}

@media (max-width: 310px) {
    .logotype__vlaus-text {
        font-size: 25px;
    }
    
    .logotype__music-text {
        font-size: 25px;
    }  
}
