.logotype {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-image: url('@/assets/images/icons/paper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logotype__vlaus {
    width: 49.75%;
    display: inline-flex;
    background-color: #fff;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 30px;
    position: relative;   
}

.tree {
    display: block;
    position: absolute;
    top: 5%;
    right: 0;
    z-index: 1;
}

.logotype__vlaus-text {
    font-family: 'Monoton';
    font-size: 60px;
    opacity: 0;
    transform: translate(-50%, 0);
    animation: moveVlaus 1s ease forwards;
}

.link {
    width: 0.5%;
    display: inline-flex;
    height: 100%;
    cursor: pointer;
    background: gold;
    z-index: 2;
    box-shadow: 0 -150px 70px 0px teal inset,
                0 -150px 70px 0px yellowgreen inset,
                0 -150px 70px 0px gold inset;
    animation: colorChange 3s infinite;

    position: relative;
}

.logotype__music {
    width: 49.75%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    background-color: #000;
    height: 100%;
    padding-left: 30px;
}

.logotype__music-text {
    font-family: 'Monoton';
    font-size: 60px;
    opacity: 0;
    transform: translate(50%, 0);
    animation: moveMusic 1s ease forwards;
}

.play {
    display: block;
    position: absolute;
    top: 49.5%;
    left: 50%;
    width: 55px;
    transform: translate3d(-50%, -49.5%, 0);

    animation: scale 2s ease infinite 2s;
}

.logotype__music.moved {
    animation: moveRight 1s ease-in-out forwards;
}

.logotype__vlaus.moved {
    animation: moveLeft 1s ease-in-out forwards;
}

.link.moved {
    animation: opacity .5s ease-in-out forwards;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scale {
    0% {
        transform: translate3d(-50%, -49.5%, 0) scale(1);
    }
    50% {
        transform: translate3d(-50%, -49.5%, 0) scale(1.2);
    }
    100% {
        transform: translate3d(-50%, -49.5%, 0) scale(1);
    }
}

@keyframes moveMusic {
    from {
        opacity: 0;
        transform: translate(50%, 0);
    } 
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes moveVlaus {
    from {
        opacity: 0;
        transform: translate(-50%, 0);
    } 
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes colorChange {
    50% {
      background: darkviolet;
      box-shadow: 0 -140px 70px -120px mediumorchid inset,
                  0 -210px 70px -120px teal inset,
                  0 -280px 70px -120px plum inset;
    }
}

@keyframes moveLeft {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(-120%,0);
    }
}

@keyframes moveRight {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(120%,0);
    }
}

@media (max-width: 1000px) {
    .tree {
        width: 90%;
    } 
}

@media (max-width: 560px) {
    .logotype__vlaus-text {
        font-size: 50px;
    }
    
    .logotype__music-text {
        font-size: 50px;
    }

    .tree {
        top: 15%;
    } 
}

@media (max-width: 480px) {
    .logotype__vlaus-text {
        font-size: 40px;
    }
    
    .logotype__music-text {
        font-size: 40px;
    }

    .play {
        width: 45px;
    }
}

@media (max-width: 390px) {
    .logotype__vlaus-text {
        font-size: 35px;
    }
    
    .logotype__music-text {
        font-size: 35px;
    }
    
    .logotype__vlaus {
        padding-right: 20px;
    }

    .logotype__music {
        padding-left: 20px;
    }

    .play {
        width: 35px;
    }
}

@media (max-width: 310px) {
    .logotype__vlaus-text {
        font-size: 25px;
    }
    
    .logotype__music-text {
        font-size: 25px;
    }
    
    .play {
        width: 30px;
    }
}
