.albums {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    height: 100vh;
    background-image: url('@/assets/images/icons/paper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.album__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 5px;
    border: 5px dotted #000;
}

.album__item:hover .album__name {
    text-decoration: underline;
}

.album__item:not(:first-child) {
    margin-left: 15px;
}

.album__poster {
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px 2px #8d2a32
}

.album__name {
    margin-top: 5px;
    font-size: 20px;
    font-family: 'Yeseva';
}