.background-image {
  padding: 10px 0;
  background-image: url(/03e61eeb94dc3a42dd6eac87a61c3dd6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-block {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  border-radius: 15px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link img {
  width: 32px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  opacity: 0;
  -webkit-transform: translate3d(0, 25%, 0);
          transform: translate3d(0, 25%, 0);
}

.social__item:nth-child(1) {
  -webkit-animation: social 0.5s ease-out 1.6s forwards;
          animation: social 0.5s ease-out 1.6s forwards;
}

.social__item:nth-child(2) {
  -webkit-animation: social 0.5s ease-out 1.7s forwards;
          animation: social 0.5s ease-out 1.7s forwards;
}

@-webkit-keyframes social {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes social {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.links {
  width: 100%;
  padding: 10px 15px 0 15px;
  font-family: 'Oswald';
  background-color: white;
  border-radius: 20px;
}

.links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.links__item:nth-child(1) {
  -webkit-animation: links-item 0.7s ease-out 0.1s forwards;
          animation: links-item 0.7s ease-out 0.1s forwards;
}
.links__item:nth-child(2) {
  -webkit-animation: links-item 0.7s ease-out 0.2s forwards;
          animation: links-item 0.7s ease-out 0.2s forwards;
}
.links__item:nth-child(3) {
  -webkit-animation: links-item 0.7s ease-out 0.3s forwards;
          animation: links-item 0.7s ease-out 0.3s forwards;
}
.links__item:nth-child(4) {
  -webkit-animation: links-item 0.7s ease-out 0.4s forwards;
          animation: links-item 0.7s ease-out 0.4s forwards;
}
.links__item:nth-child(5) {
  -webkit-animation: links-item 0.7s ease-out 0.5s forwards;
          animation: links-item 0.7s ease-out 0.5s forwards;
}
.links__item:nth-child(6) {
  -webkit-animation: links-item 0.7s ease-out 0.6s forwards;
          animation: links-item 0.7s ease-out 0.6s forwards;
}
.links__item:nth-child(7) {
  -webkit-animation: links-item 0.7s ease-out 0.7s forwards;
          animation: links-item 0.7s ease-out 0.7s forwards;
}
.links__item:nth-child(8) {
  -webkit-animation: links-item 0.7s ease-out 0.8s forwards;
          animation: links-item 0.7s ease-out 0.8s forwards;
}
.links__item:nth-child(9) {
  -webkit-animation: links-item 0.7s ease-out 0.9s forwards;
          animation: links-item 0.7s ease-out 0.9s forwards;
}

.links__item::before {
  content: '';
  width: 90%;
  margin: 5px auto 0 auto;
  height: 1px;
  background-color: #dadada;
  margin-bottom: 5px;
  opacity: 0;

  -webkit-animation: opacity 2s forwards;

          animation: opacity 2s forwards;
}

.links__item::after {
  content: '';
  margin: 5px auto 0 auto;
  width: 70%;
  height: 1px;
  background-color: #dadada;
  opacity: 0;

  -webkit-animation: opacity 2s forwards;

          animation: opacity 2s forwards;
}

.links__item:not(:first-child) {
  margin-top: 25px;
}

.links__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links__name img {
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

.links__name div {
  margin-left: 10px;
}

.link__button {
  background-color: #d4184a;
  padding: 10px;
  color: white;
  border-radius: 5px;
  -webkit-transition: 200ms ease-in;
  -o-transition: 200ms ease-in;
  transition: 200ms ease-in;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.link__button:hover {
  -webkit-transform: translate3d(0, -5%, 0);
          transform: translate3d(0, -5%, 0);
}

.link__button::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(229, 172, 142, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.5)),
    to(rgba(229, 172, 142, 0))
  );
  background: -o-linear-gradient(
    top,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  -webkit-transform: rotateZ(60deg) translate3d(-5em, 7.5em, 0);
          transform: rotateZ(60deg) translate3d(-5em, 7.5em, 0);
}

.link__button:hover::after {
  -webkit-animation: link-button 1s forwards infinite;
          animation: link-button 1s forwards infinite;
}

.link__button::after {
  -webkit-animation: link-button 1s 2s;
          animation: link-button 1s 2s;
}

@-webkit-keyframes link-button {
  100% {
    -webkit-transform: rotateZ(60deg) translate3d(1em, -9em, 0);
            transform: rotateZ(60deg) translate3d(1em, -9em, 0);
  }
}

@keyframes link-button {
  100% {
    -webkit-transform: rotateZ(60deg) translate3d(1em, -9em, 0);
            transform: rotateZ(60deg) translate3d(1em, -9em, 0);
  }
}

@-webkit-keyframes links-item {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes links-item {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.meta-image {
  max-width: 32px;
  max-height: 32px;
  -webkit-animation: meta-image 2.5s ease-in-out infinite;
          animation: meta-image 2.5s ease-in-out infinite;
}

@-webkit-keyframes meta-image {
  0% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}

@keyframes meta-image {
  0% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}

.info__poster img {
  display: block;
  width: 100%;
  border-radius: 20px;
}

.info__meta {
  padding: 15px 35px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  font-family: 'Yeseva';
  border-radius: 20px;
  margin: 5px 0;
}

.singer {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
}

.track-name {
  font-size: 18px;
}

