.meta-image {
  max-width: 32px;
  max-height: 32px;
  -webkit-animation: meta-image 2.5s ease-in-out infinite;
          animation: meta-image 2.5s ease-in-out infinite;
}

@-webkit-keyframes meta-image {
  0% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}

@keyframes meta-image {
  0% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}

.info__poster img {
  display: block;
  width: 100%;
  border-radius: 20px;
}

.info__meta {
  padding: 15px 35px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  font-family: 'Yeseva';
  border-radius: 20px;
  margin: 5px 0;
}

.singer {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
}

.track-name {
  font-size: 18px;
}

