.meta-image {
    max-width: 32px;
    max-height: 32px;
    animation: meta-image 2.5s ease-in-out infinite;
}

@keyframes meta-image {
    0% {
        transform: translate(0, 0%);
    }
    50% {
        transform: translate(0, -20%);
    }
    100% {
        transform: translate(0, 0%);
    }
}
.info__poster img {
    display: block;
    width: 100%;
}

.info__meta {
    padding: 15px 35px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    font-family: 'Yeseva';  
    animation: opacity 2s ease;
}

.singer {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
}

.track-name {
    font-size: 18px;
    font-style: italic;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
