.background-image {
  padding: 10px 0;
  background-image: url(/03e61eeb94dc3a42dd6eac87a61c3dd6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-block {
  max-width: 350px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  border-radius: 15px;
}

