.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__link img {
    width: 32px;
}

.social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    opacity: 0;
    transform: translate(0%, 25%);
}

.social__item:nth-child(1) {
    animation: social .5s ease-out 1.6s forwards;
}

.social__item:nth-child(2) {
    animation: social .5s ease-out 1.7s forwards;
}

@keyframes social {
    100% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}
