.info__poster img {
  display: block;
  width: 100%;
  border-radius: 20px;
}

.info__meta {
  padding: 15px 35px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  font-family: 'Yeseva';
  border-radius: 20px;
  margin: 5px 0;
}

.singer {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
}

.track-name {
  font-size: 18px;
}

