.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__link img {
    width: 32px;
}

.social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    opacity: 0;
    transform: translate(0%, 25%);
    
    transition: all .5s ease-out 1.6s;
}

.social__item.active {
    opacity: 1;
    transform: translate(0%, 0%);
}

.social__item.active:nth-child(2) {
    transition-delay: 1.7s;
}
