html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0px;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
*, *:after, *:before {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		transition: .5s ease-in-out;
	}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.albums {
    display: grid;
    align-self: center;
    justify-self: center;
}

.album_item {
    border-radius: 50%;
}

.album_poster {
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px 2px #8d2a32
}
.main-container {
    display: grid;
    height: 100vh;
}

.container__inner {
    display: grid;
}

.background-image {
    padding: 10px 0;
    background-image: url(41e60ba26c6cbc487dd8259d3d8204d1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
}

.info__poster img {
    display: block;
    max-width: 350px;
    max-height: 350px;
}

.info__meta {
    padding: 15px 35px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    font-family: 'Yeseva';  
}

.info__text {
    animation: opacity 2s ease;
}

.singer {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
}

.track-name {
    font-size: 18px;
    font-style: italic;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__link img {
    width: 32px;
}

.social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    opacity: 0;
    transform: translate(0%, 25%);
    
    transition: all .5s ease-out 1.6s;
}

.social__item.active {
    opacity: 1;
    transform: translate(0%, 0%);
}

.social__item.active:nth-child(2) {
    transition-delay: 1.7s;
}
.links {
    width: 100%;
    padding: 10px;
    font-family: 'Oswald';
}

.links__item {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    opacity: 0;
    transform: translate(-50%, 0);

    transition: all .7s ease-out;
}

.links__item.active {
  opacity: 1;
  transform: translate(0, 0);
}

.links__item.active:nth-child(1) {
  transition-delay: .1s;
}
.links__item.active:nth-child(2) {
  transition-delay: .2s;
}
.links__item.active:nth-child(3) {
  transition-delay: .3s;
}
.links__item.active:nth-child(4) {
  transition-delay: .4s;
}
.links__item.active:nth-child(5) {
  transition-delay: .5s;
}
.links__item.active:nth-child(6) {
  transition-delay: .6s;
}
.links__item.active:nth-child(7) {
  transition-delay: .7s;
}
.links__item.active:nth-child(8) {
  transition-delay: .8s;
}
.links__item.active:nth-child(9) {
  transition-delay: .9s;
}

.links__item::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #222222;
    margin-top: 5px;
}

.links__item::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color:#222222;
    margin-bottom: 5px;
}

.links__item:not(:first-child) {
    margin-top: 25px;
}

.links__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links__name img {
    width: 32px;
    height: 32px;
    border-radius: 5px;
}

.links__name div {
    margin-left: 10px;
}

.link__button {
    background-color: #d4184a;
    padding: 10px;
    color: white;
    border-radius: 5px;
    transition: 200ms ease-in;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
  }
    
.link__button:hover {
  transform: translate(0, -5%);
}
  
.link__button::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
      to bottom,
      rgba(229, 172, 142, 0), 
      rgba(255,255,255,0.5) 50%,
      rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.link__button:hover::after {
  animation: link-button 1s forwards infinite;
}

.link__button::after {
  animation: link-button 1s 2s;
}

@keyframes link-button {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}
.meta-image {
    max-width: 32px;
    max-height: 32px;
    animation: meta-image 2.5s ease-in-out infinite;
}

@keyframes meta-image {
    0% {
        transform: translate(0, 0%);
    }
    50% {
        transform: translate(0, -20%);
    }
    100% {
        transform: translate(0, 0%);
    }
}
@font-face {
    font-family: 'Monoton';
    src: url(7dedae9293901010ebba8047b4e662e1.ttf) format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url(88fc6c5b10cd8b2781cb2337f5d5cf15.ttf) format('truetype');
}

@font-face {
    font-family: 'Yeseva';
    src: url(eba55a4689d3aa65d33f108607a41506.ttf) format('truetype');
}
