.albums {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  background-image: url('@/assets/images/icons/paper.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.album__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 2px 2px #8d2a32;
  animation: album-item-initial 0.5s ease-in-out forwards;
}

.album__item:nth-child(2) {
  box-shadow: 0 0 2px 2px #33a5ff;
}

.album__item:hover .album__poster {
  transform: scale(1.15);
}

.album__item:not(:last-child) {
  margin-right: 30px;
}

.album__poster {
  max-width: 100px;
  max-height: 100px;
  display: block;
  border-radius: 50%;
}

@keyframes album-item-initial {
  0% {
    opacity: 0;
    transform: translate3d(0, 5px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
